<h1>Add New Enemy</h1>

<%= form_tag '/enemies', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>

  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>

  <div>
    <%= label_tag :book %>
    <%= text_field_tag :book %>
  </div>

  <%= submit_tag "Add Enemy", class: "btn btn-default" %>
<% end %>